<h1>Listing Packets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="packets">
    <%= for packet <- @packets do %>
      <tr id={"packet-#{packet.id}"}>
        <td><%= packet.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Packet", to: Routes.packet_index_path(@socket, :new) %></span>
