<h1>Listing Packets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="packets">
      <tr>
        <td><%= inspect(@packet) %></td>
      </tr>
  </tbody>
</table>
